:root {
  --bg-color: #121B25;
  --accent-color: #15786C;
  --text-color: #D6D6D6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* img {
  max-width: 100%;
}

.text {
  color: var(--text-color);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
}

.title {
  color: #FFF;
  font-family: Work Sans;
  font-size: clamp(1.875rem, 1.542rem + 1.67vw, 3rem);
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  color: #fff;
}
body._lock {
  overflow: hidden;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 40px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__logo {
  max-width: 132px;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}
.header__menu-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 0.2s;
  position: relative;
}
.header__menu-link::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--accent-color);
  left: 0;
  right: 0;
  bottom: -5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
@media (any-hover: hover) {
  .header__menu-link:hover {
    color: #fff;
  }
  .header__menu-link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 992px) {
  .header__menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    z-index: 10;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: var(--accent-color);
    transition: left 0.2s;
    overflow: scroll;
  }
  .header__menu._active {
    left: 0;
  }
}
.header__buttons {
  display: flex;
  gap: 5px;
}
.header__btn {
  padding: 11px 20px;
  color: #fff;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  cursor: pointer;
  font-family: Work Sans;
  font-size: 16px;
  transition: background-color 0.2s;
}
@media (max-width: 576px) {
  .header__btn {
    padding: 5px 11px;
  }
}
.header__burger-menu {
  display: none;
}
@media (max-width: 992px) {
  .header__burger-menu {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .header__burger-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .header__burger-menu span:first-child {
    top: 0;
  }
  .header__burger-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .header__burger-menu._active span {
    transform: scale(0);
  }
  .header__burger-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header__burger-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (any-hover: hover) {
  .login:hover {
    background-color: var(--accent-color);
  }
}
@media (max-width: 425px) {
  .login {
    display: none;
  }
}

.register {
  background-color: var(--accent-color);
}
@media (any-hover: hover) {
  .register:hover {
    background-color: transparent;
  }
}

.property {
  margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
}
.property__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .property__container {
    flex-direction: column;
  }
}
.property__content {
  flex: 0 0 49.2957746479%;
  padding-bottom: 160px;
}
@media (max-width: 992px) {
  .property__content {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
.property__title {
  color: #FFF;
  font-family: Work Sans;
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  font-weight: 600;
  line-height: 126%; /* 85.68px */
  text-transform: capitalize;
}
.property__text {
  margin-top: 18px;
}
.property__filter {
  width: 885px;
  height: 100px;
  background: #FFF;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.3);
  margin-top: clamp(2.5rem, 2.13rem + 1.85vw, 3.75rem);
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
}
@media (max-width: 992px) {
  .property__filter {
    width: 100%;
    position: static;
  }
}
@media (max-width: 576px) {
  .property__filter {
    padding: 15px 15px 10px 15px;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 475px) {
  .property__filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.property__filter-block {
  position: relative;
}
.property__filter-block:nth-child(2) {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.property__img {
  flex: 0 0 49.2957746479%;
}
.property__filter-btn {
  padding: 5px;
}
.property__filter-btn button {
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  border: none;
  color: #FFF;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.2s;
}
@media (any-hover: hover) {
  .property__filter-btn button:hover {
    background-color: #176e64;
  }
}
@media (max-width: 576px) {
  .property__filter-btn button {
    padding: 5px;
  }
}
@media (max-width: 576px) and (min-width: 475px) {
  .property__filter-btn {
    grid-column: 1/4;
  }
}
.property__filter-button {
  display: flex;
  justify-content: center;
  padding-left: clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
  height: 100%;
  flex-direction: column;
  cursor: pointer;
}
.property__filter-block-header {
  display: flex;
  align-items: center;
}
.property__filter-block-type {
  color: #858585;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  padding-right: 2px;
}
.property__filter-block-icon {
  width: 9px;
  height: 13px;
  padding-right: 12px;
  background: url("../img/icon/arrow-down.svg") center bottom no-repeat;
  transition: transform 0.2s;
}
.property__filter-block-icon._active {
  transform: rotate(180deg);
}
.property__filter-block-value {
  color: #121B25;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 126%; /* 22.68px */
  text-transform: capitalize;
}
.property__filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  z-index: 3;
  border: 1px solid var(--text-color);
}
.property__filter-dropdown._active {
  opacity: 1;
  visibility: visible;
  transform: translateY(5px);
}
.property__filter-dropdown-item {
  padding: 10px;
  transition: background-color 0.2s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .property__filter-dropdown-item:hover {
    background-color: #dedede;
  }
}

.featured {
  margin-top: clamp(2.5rem, -0.093rem + 12.96vw, 11.25rem);
}
.featured__icon {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.featured-slider {
  margin-top: clamp(1.563rem, 1.063rem + 2.5vw, 3.25rem);
}

.popular {
  background: #1A242F url("/img/popular-bg/popular-bg.png") center center/cover no-repeat;
  margin-top: clamp(2.5rem, -0.185rem + 13.43vw, 11.563rem);
  padding: clamp(1.25rem, -1.343rem + 12.96vw, 10rem) 0;
}
.popular__slide {
  margin-top: 40px;
  position: relative;
}
.popular__slide-buttons {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1800px) {
  .popular__slide-buttons {
    top: -100px;
    right: 130px;
    width: auto;
  }
}
.popular__slide-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url("/img/icon/popular-icon/arrow-leftsvg.svg") center center no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}
@media (max-width: 660px) {
  .popular__slide-btn {
    display: none;
  }
}
.popular__link {
  text-align: center;
}
.popular__btn-link {
  background-color: var(--accent-color);
  padding: 22px 42px;
  color: #FFF;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 65px;
  text-decoration: none;
  display: inline-block;
}
@media (max-width: 660px) {
  .popular__btn-link {
    padding: 15px 35px;
    font-size: 19px;
  }
}
@media (any-hover: hover) {
  .popular__btn-link:hover {
    background-color: #176e64;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: inline-flex;
}

.prev {
  position: absolute;
  left: -130px;
}
@media (max-width: 1800px) {
  .prev {
    left: -80px;
  }
}

.next {
  transform: rotate(180deg);
  position: absolute;
  right: -130px;
}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 660px) {
  .popular-slide {
    text-align: center;
  }
}
.popular-slide__title {
  color: #FFF;
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 600;
  line-height: 126%;
  letter-spacing: 0.26px;
  text-transform: capitalize;
}
.popular-slide__labels {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 660px) {
  .popular-slide__labels {
    justify-content: center;
  }
}
.popular-slide__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.why {
  padding: clamp(2.5rem, -0.093rem + 12.96vw, 11.25rem) 0;
}
.why__title {
  text-align: center;
}
.why__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: clamp(2.5rem, 2.13rem + 1.85vw, 3.75rem);
  gap: clamp(1.25rem, 0.694rem + 2.78vw, 3.125rem);
}
@media (max-width: 768px) {
  .why__box {
    flex-direction: column;
  }
}
.why__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 26.6197183099%;
}
.why__item-img {
  margin-bottom: 36px;
  width: clamp(6.25rem, 4.769rem + 7.41vw, 11.25rem);
  height: clamp(6.25rem, 4.769rem + 7.41vw, 11.25rem);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why__item-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 470px;
  opacity: 0.12;
  background: #1AA090;
}
.why__item-img img {
  width: 40%;
  height: 40%;
}
.why__item-title {
  color: #FFF;
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
  text-transform: capitalize;
  margin-bottom: 11px;
}
.reviews {
  padding-bottom: clamp(6.25rem, 4.769rem + 7.41vw, 11.25rem);
}
.reviews__container {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
  padding-top: 160px;
}
.reviews__title {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--accent-color);
  font-family: Work Sans;
  font-size: 260px;
}
.reviews__slide-text {
  color: #FFF;
  font-family: Work Sans;
  font-size: clamp(1.25rem, 1.028rem + 1.11vw, 2rem);
  font-weight: 400;
  line-height: 157%; /* 50.24px */
  text-transform: capitalize;
}
.reviews__slide-info {
  margin-top: 40px;
  position: relative;
}
.reviews__slide-name {
  color: #FFF;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.22px;
  text-transform: capitalize;
}
.reviews__slide-job {
  color: #D6D6D6;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
}
.reviews__buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 15px;
  bottom: 0;
}
.reviews__buttons::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background: #353F49;
  width: 1px;
}
.reviews__btn {
  font-size: 50px;
  cursor: pointer;
}
.reviews__btn.swiper-button-disabled {
  color: #767f76;
}/*# sourceMappingURL=style.css.map */