:root {
    --bg-color: #121B25;
    --accent-color: #15786C;
    --text-color: #D6D6D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

* img {
    max-width: 100%;
}

.text {
    color: var(--text-color);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg-color);
    color: #fff;
    &._lock {
        overflow: hidden; // чтобы при откртие бурегр, мы не сможем скролить
    }
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 15px;
}

// --------------- HEADER ---------------

.header {

    padding: 40px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px
    }

    &__logo {
        max-width: 132px;
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
    }

    &__menu-item {

    }

    &__menu-link {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        text-decoration: none;
        transition: color .2s;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 3px;
            background-color: var(--accent-color);
            left: 0;
            right: 0;
            bottom: -5px;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s;
        }
        @media (any-hover: hover) {
            &:hover {
                color: #fff;
                &::before {
                    opacity: 1;
                    visibility: visible
                }
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 40px;
        @media (max-width: 992px) {
            position: absolute;
            top: 0;
            left: -100%;
            height: 100vh;
            z-index: 10;
            width: 80%;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            background-color: var(--accent-color);
            transition: left .2s;
            overflow: scroll;
            &._active {
                left: 0;
            }
        }
    }

    &__buttons {
        display: flex;
        gap: 5px;
    }

    &__btn {
        padding: 11px 20px;
        color: #fff;
        border: 2px solid var(--accent-color);
        background-color: transparent;
        cursor: pointer;
        font-family: Work Sans;
        font-size: 16px;
        transition: background-color .2s;
        @media (max-width: 576px) {
            padding: 5px 11px;
        }
    }

    &__burger-menu {
        display: none;
        @media (max-width: 992px) {
          display: block;
          height: 18px;
          width: 30px;
          position: relative;
          cursor: pointer;
          z-index: 5;
          span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            &:first-child {
              top: 0;
            }
            &:last-child {
              top: auto;
              bottom: 0;
            }
          }
          &._active {
            span {
              transform: scale(0);
              &:first-child {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
              }
              &:last-child {
                transform: rotate(45deg);
                bottom: calc(50% - 1px);
              }
            }
          }
        }
      }

}

.login {
    @media (any-hover: hover) {
        &:hover {
            background-color: var(--accent-color);
        }
    }
    @media (max-width: 425px) {
        display: none
    }
}

.register {
    background-color: var(--accent-color);
    @media (any-hover: hover) {
        &:hover {
            background-color: transparent;
        }
    }
}

// --------------- PROPERTY ---------------

.property {

    margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__content {
        flex: 0 0 calc(700 / 1420 * 100%);
        padding-bottom: 160px;
        @media (max-width: 992px) {
            flex-direction: column;
            padding-bottom: 40px;
        }
    }

    &__title {
        color: #FFF;
        font-family: Work Sans;
        font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
        font-weight: 600;
        line-height: 126%; /* 85.68px */
        text-transform: capitalize;
    }

    &__text {
        margin-top: 18px;
    }


    &__filter {
        width: 885px;
        height: 100px;
        background: #FFF;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.30);
        margin-top: 60px;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 165px;
        color: #000;
        @media (max-width: 992px) {
            width: 100%;
            position: static;
        }
        @media (max-width: 576px) {
            padding: 15px 15px 10px 15px;
            height: auto;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 475px) {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }

    &__filter-block {
        position: relative;
        &:nth-child(2) {
            border-right: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
        }
       
    }

    &__img {
        flex: 0 0 calc(700 / 1420 * 100%);
    }


    &__filter-btn {
        padding: 5px;
        button {
            background-color: var(--accent-color);
            width: 100%;
            height: 100%;
            border: none;
            color: #FFF;
            font-family: Work Sans;
            font-size: 24px;
            font-weight: 500;
            text-transform: capitalize;
            cursor: pointer;
            transition: background-color .2s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #176e64;
                }
            }
            @media (max-width: 576px) {
                padding: 5px;
            }
        }
        @media (max-width: 576px) and (min-width: 475px) {
            grid-column: 1/4;
        }
    }

    &__filter-button {
        display: flex;
        justify-content: center;
        padding-left: clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
        height: 100%;
        flex-direction: column;
        cursor: pointer;
    }

    &__filter-block-header {
        display: flex;
        align-items: center;
    }

    &__filter-block-type {
        color: #858585;
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        padding-right: 2px;
    }

    &__filter-block-icon {
        width: 9px;
        height: 13px;
        padding-right: 12px;
        background: url('../img/icon/arrow-down.svg') center bottom no-repeat;
        transition: transform .2s;
        &._active {
            transform: rotate(180deg);
        }
    }

    &__filter-block-value {
        color: #121B25;
        font-family: Work Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 126%; /* 22.68px */
        text-transform: capitalize;
    }

    &__filter-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all .2s;
        z-index: 3;
        border: 1px solid var(--text-color);
        &._active {
            opacity: 1;
            visibility: visible;
            transform: translateY(5px);
        }
    }

    &__filter-dropdown-item {
        padding: 10px;
        transition: background-color .2s;
        text-transform: capitalize;
        cursor: pointer;
        @media (any-hover: hover) {
            &:hover {
                background-color: #dedede;
            }
        }
    }

}